
.root {
    -fx-font-family: "Helvetica Neue", Arial, sans-serif;
}

// formato para las celdas del tableview
.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 13px "Segoe UI";
    -fx-border-insets: 0;
}

// color de fondo para cuando el raton este sobre la celda
.table-cell:hover {
    -fx-background-color: #00A2E8;
}

// color para filas vacias,
// aplicar el mismo color cuando el raton este sobre una celda de una fila vacia
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}

// eliminar borde de celdas en las filas vacias
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

// color de una fila cuando en raton se encuentra sobre la misma
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgba(28, 183, 236, 0.25);
}

// color de una fila cuando en raton se encuentra sobre una fila que esta seleccionada
.table-view:row-selection .table-row-cell:filled:selected:hover {
    -fx-background-color: rgba(28, 183, 255, 0.90);
}

// color de una fila seleccionada por el usuario
.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: rgba(28, 183, 236, 0.65);
}

// eliminar border del table que aparece cuando el mismo tiene el foco
.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}

// centrar y cambiar color de los titulos de columnas
.table-view .column-header .label{
    -fx-text-fill: #52677A;
    -fx-alignment: CENTER;
}

// color de fondo del titulo de columna cuando en roton esta sobre ella
.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}

// tamaño, bordes y color de fondo de los titulos
.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

// hacer transparente el fondo de los titulos
.table-view .column-header-background {
    -fx-background-color: transparent;
}

// estilo para el boton que permite ocultar o mostrar las columnas
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}

/* Estilos para labels */

.label {
    -fx-font-size: 14px;
}

.label-danger {
    -fx-background-color: #f8d7da; /* Color de fondo rojo similar al de Bootstrap */
    -fx-border-color: #f5c6cb; /* Color del borde similar al de Bootstrap */
    -fx-border-width: 1;
    -fx-border-radius: 4; /* Borde redondeado similar a Bootstrap */
}

.label-success {
    -fx-background-color: #d4edda; /* Color de fondo verde similar al de Bootstrap */
    -fx-border-color: #c3e6cb; /* Color del borde similar al de Bootstrap */
    -fx-border-width: 1;
    -fx-border-radius: 4; /* Borde redondeado similar a Bootstrap */
}

.label-info {
    -fx-background-color: #E0F7FA;
    -fx-border-color: #007bff;
    -fx-border-width: 1.5px;
    -fx-padding: 5px;
    -fx-text-fill: #007bff;
    -fx-font-weight: bold;
}

.textfield {
    -fx-font-size: 14px;
    -fx-padding: 5 10; /* Ajuste de relleno similar a Bootstrap */
    -fx-border-width: 1;
    -fx-border-radius: 4; /* Borde redondeado similar a Bootstrap */
    -fx-background-color: #EDEDED;
}

.button {
    -fx-background-color: #007bff; /* Color de fondo del botón */
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-border-color: #007bff; /* Color del borde */
    -fx-border-width: 1px; /* Ancho del borde */
    -fx-padding: 8px 16px; /* Relleno del botón */
    -fx-border-radius: 4;
}

.button:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}



/* Estilos para un botón de advertencia en JavaFX */

.warning-button {
    -fx-text-fill: #fff;
    -fx-background-color: #d9534f; /* Color rojo de Bootstrap */
    -fx-border-color: #d9534f;
}

.warning-button:hover {
    -fx-background-color: #c9302c; /* Color rojo oscuro al pasar el ratón */
    -fx-border-color: #ac2925;
    -fx-cursor: hand;
}

.warning-button:pressed {
    -fx-background-color: #ac2925; /* Color rojo más oscuro al presionar */
    -fx-border-color: #ac2925;
}

.warning-button:disabled {
    -fx-text-fill: #fff;
    -fx-background-color: #d9534f;
    -fx-border-color: #d9534f;
}


.panel-agregar {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #ccc;
    -fx-padding: 10;
}
